<main>
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-1">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="img/stickers/products/decal/decalkraft_1.jpg" alt="">
                            </div>
                            <div class="product-thumbs">
                                <div class="product-thumbs-track d-flex flex-lg-row">
                                    <div class="pt active" data-imgbigurl="img/stickers/products/decal/decalkraft_1.jpg" style="width:90px">
                                        <img src="img/stickers/products/decal/decalkraft_1.jpg" alt="">
                                    </div>
                                    <div class="pt" data-imgbigurl="img/stickers/products/decal/decalkraft_2.jpg" style="width:90px">
                                        <img src="img/stickers/products/decal/decalkraft_2.jpg" alt="">
                                    </div>
                                    <div class="pt" data-imgbigurl="img/stickers/products/decal/decalkraft_3.jpg" style="width:90px">
                                        <img src="img/stickers/products/decal/decalkraft_3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details">
                                <div class="pd-title">
                                    <h3>Decal giấy - Đổi chất liệu</h3>
                                </div>
                                <div style="border-bottom: solid 1px #e8e8e8" class="mb-2 pb-1">
                                    <p>
                                        Giá rẻ, số lượng in, sản xuất nhanh
                                    </p>
                                </div>
                                <div class="pd-title">
                                    <h5 style="color: #3587c8">ĐẶC ĐIÊM CƠ BẢN</h5>
                                </div>
                                <div style="border-bottom: solid 1px #e8e8e8" class="mb-2 pb-1">
                                    <ul>
                                        <li>- Màu sắc: Nhiều màu</li>
                                        <li>- Số mặt in: 1 mặt</li>
                                        <li>- Loại giấy: Decal giấy Fasson aw0383f</li>
                                        <li>- Kỹ thuật in: In KTS</li>
                                        <li>- Gia công: Bế Demi theo file thiết kế</li>
                                    </ul>
                                </div>
                                <div class="pd-title">
                                    <h5 style="color: #3587c8">CHỌN KÍCH THƯỚC BẠN MUỐN</h5>
                                    <h7>KT Thành Phẩm (cm)</h7>
                                </div>
                                <div class="pd-size-choose">
                                    <div class="sc-item">
                                        <input type="radio" id="sm-size">
                                        <label for="sm-size" width="2" height="3">2x3cm</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="md-size">
                                        <label for="md-size" width="3" height="4">3x4cm</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="lg-size">
                                        <label for="lg-size" width="4" height="5">4x5cm</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="xl-size">
                                        <label for="xl-size" width="5" height="6">5x6cm</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="xxl-size">
                                        <label for="xxl-size" width="6" height="8">6x8cm</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="other-size">
                                        <label for="other-size">Khác</label>
                                    </div>
                                </div>
                                <!--Nhập thông tin-->
                                <div class="pd-info-input">
                                    <h6 class="text-center">NHẬP THÔNG TIN</h6>
                                    <ul>
                                        <li>
                                            <div style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                                            </div>
                                            <div class="input-group" id="sticker-size-input">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="">Nhập kích thước</span>
                                                </div>
                                                <input autocomplete="off" name="width" number-input maxlength="9" type="text" placeholder="ngang(mm)" class="form-control">
                                                <input autocomplete="off" name="height" number-input maxlength="9" type="text" placeholder="cao(mm)" class="form-control">
                                            </div>

                                            <div class="input-group input-group-rounded">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="">Số Lượng</span>
                                                </div>
                                                <input autocomplete="off" name="quantity" number-input maxlength="9" type="text" placeholder="nhập số lượng cần in" class="form-control form-control-rounded">
                                            </div>
                                            <div class="input-group input-group-rounded">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text input-group-text-rounded" id="">Chọn Gia Công</span>
                                                </div>
                                                <select class="form-control classic">
                                                    <option selected>Cán màng</option>
                                                    <option>Không cán màng</option>
                                                </select>
                                            </div>
                                            <div class="input-group input-group-rounded">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="">Chọn Bế</span>
                                                </div>
                                                <select class="form-control classic">
                                                    <option selected>Bế thẳng</option>
                                                    <option>Bế đặc biệt(hình tròn, hình khó)</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="banner">BANNER</div>
                        </div>
                        <div class="col-lg-7">
                            <div class="container-fluid">
                                <div class="row add-to-cart">
                                    <div class="col-sm-8 d-flex flex-column justify-content-sm-around pt-2 pb-2">
                                        <h5 style="color: #29A34B">Đặt in online, nhận ngay giá tốt</h5>
                                        <p class="price"><span>30.000đ</span><span>27.000đ</span></p>
                                        <p><span>(Giá trên chưa bao gồm 10% VAT)</span></p>
                                    </div>
                                    <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                        <button onClick="addToshoppingCart()" class="btn primary-btn pd-cart" tabindex="1">ĐẶT HÀNG</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 order-1">
                            <div class="promotion">
                                <h3 class="promotion-title">KHUYẾN MÃI</h3>
                                <ul class="promotion-items">
                                    <li><i class="fa fa-check-circle"></i>Giảm 5% khi đặt hàng từ 3 - 5 ngày</li>
                                    <li><i class="fa fa-check-circle"></i>Khuyến mãi tem 5 cm đồng giá 225.000 vnđ</li>
                                    <li><i class="fa fa-check-circle"></i>Khuyến mãi tem 3cm đồng giá 150.000 vnđ</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-7 order-2">
                            <div class="promotion">
                                <h3 class="promotion-title"><span>CÁC DỊCH VỤ KHUYẾN MÃI KHÁC</span><span style="color: #F64848"> CHỈ CÓ TẠI TGSK</span></h3>
                                <ul class="promotion-items">
                                    <li><i class="fa fa-check-circle"></i>Miễn phí kho mẫu thiết kế với số lượng in trên 1.000 tem</li>
                                    <li><i class="fa fa-check-circle"></i>Miễn phí giao hàng với đơn hàng trên 499.000vnđ trong Q. Tân Bình</li>
                                    <li><i class="fa fa-check-circle"></i>Miễn phí tặng 1 hộp NameCard với đơn hàng trên 1.000.000đ</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 order-2">
                    <!-- Info Sidebar Section Begin -->
                    @(await Component.InvokeAsync("Guarantee"))
                    <!-- Info Sidebar Section End -->
                    <!-- Info Sidebar Section Begin -->
                    @(await Component.InvokeAsync("InfoSidebar"))
                    <!-- Info Sidebar Section End -->

                </div>
            </div>
            <div class="row divider">
                <div class="col-sm-9">
                    <div></div>
                </div>
                <div class="col-sm-3">
                    <div class="row"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 order-1">
                    <div class="row">
                        <div class="col-lg-12 order-1">
                            <div class="product-tab">
                                <div class="tab-item">
                                    <ul class="nav" role="tablist">
                                        <li>
                                            <a class="active" data-toggle="tab" href="#tab-1" role="tab">GIỚI THIỆU SẢN PHẨM</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab-2" role="tab">HƯỚNG DẪN ĐẶT HÀNG</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab-3" role="tab">NHẬN XÉT</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-item-content">
                                    <div class="tab-content">
                                        <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                            <div class="product-content">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <h5>Decal nhựa</h5>
                                                        <p>
                                                            Decal nhựa là một loại decal thông dụng, được sử dụng phổ biến với mục đích như một dạng bao bì sản phẩm nhằm cung cấp các thông tin về sản phẩm tới các khách hàng.
                                                            Để có thể phân biệt decal nhựa với các loại decal khác người ta dựa vào chất liệu làm nên decal nhưa. decal nhựa được làm từ chất liệu nhựa trong hoặc nhựa trắng sữa với các chi tiết được in bằng công nghệ in offset hoặc in uv hiện đại tạo ra các mẫu in decal nhựa có chất lượng cao, hình thức đẹp.
                                                        </p>
                                                        <br/>
                                                        <h5>Công dụng của decal nhựa:</h5>
                                                        <p>
                                                            - Phương thức giới thiệu cung cấp các thông tin về sản phẩm 1 cách ngắn gọn, xúc tích
                                                        </p>
                                                        <p>
                                                            - Là công cụ quảng bá quảng bá thương hiệu công ty một cách hiệu quả với chi phí, giá thành rẻ nhất trong lĩnh vực marketing truyền thông.
                                                        </p>
                                                        <p>
                                                            - Là phương thức nhận diện thương hiệu công ty 1 cách đơn giản, có hiệu năng cao.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                            <div class="specification-table">
                                                <!--<table>
    <tr>
        <td class="p-catagory">Customer Rating</td>
        <td>
            <div class="pd-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <span>(5)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="p-catagory">Price</td>
        <td>
            <div class="p-price">$495.00</div>
        </td>
    </tr>
    <tr>
        <td class="p-catagory">Add To Cart</td>
        <td>
            <div class="cart-add">+ add to cart</div>
        </td>
    </tr>
    <tr>
        <td class="p-catagory">Availability</td>
        <td>
            <div class="p-stock">22 in stock</div>
        </td>
    </tr>
    <tr>
        <td class="p-catagory">Weight</td>
        <td>
            <div class="p-weight">1,3kg</div>
        </td>
    </tr>
    <tr>
        <td class="p-catagory">Size</td>
        <td>
            <div class="p-size">Xxl</div>
        </td>
    </tr>
    <tr>
        <td class="p-catagory">Color</td>
        <td><span class="cs-color"></span></td>
    </tr>
    <tr>
        <td class="p-catagory">Sku</td>
        <td>
            <div class="p-code">00012</div>
        </td>
    </tr>
    </table>-->
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                            <div class="customer-review-option">
                                                <h4>2 nhận xét</h4>
                                                <div class="comment-option">
                                                    <div class="co-item">
                                                        <div class="avatar-pic">
                                                            <img src="img/product-single/avatar-1.png" alt="">
                                                        </div>
                                                        <div class="avatar-text">
                                                            <div class="at-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </div>
                                                            <h5>Huy Lê <span>09-04-2021</span></h5>
                                                            <div class="at-reply">Nice</div>
                                                        </div>
                                                    </div>
                                                    <div class="co-item">
                                                        <div class="avatar-pic">
                                                            <img src="img/product-single/avatar-2.png" alt="">
                                                        </div>
                                                        <div class="avatar-text">
                                                            <div class="at-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </div>
                                                            <h5>Duy Nguyễn <span>09-04-2021</span></h5>
                                                            <div class="at-reply">Được</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="personal-rating">
                                                    <h6>Đánh giá</h6>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="leave-comment">
                                                    <h4>Nhận xét của bạn</h4>
                                                    <form action="#" class="comment-form">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <input type="text" placeholder="Tên">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <input type="text" placeholder="Email">
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <textarea placeholder="Nhận xét"></textarea>
                                                                <button type="submit" class="site-btn">Gửi</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="relative-products">
                                <div class="title">SẢN PHẨM LIÊN QUAN</div>
                                <div class="relative-product-item">
                                    SẢN PHẨM LIÊN QUAN
                                </div>
                                <div class="relative-product-item">
                                    SẢN PHẨM LIÊN QUAN
                                </div>
                                <div class="relative-product-item">
                                    SẢN PHẨM LIÊN QUAN
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function (e) {
        $('.page-details .product-pic-zoom img').css('height', $('.page-details .product-pic-zoom img').width());

        var width = $('.relative-products').width();
        var items = $('.relative-product-item');
        items.css('height', width);
    })
</script>