<div class="product-section spad pt-0">
    <div class="container">
        @(await Component.InvokeAsync("Slider"))
        <div class="core-values mt-5 d-lg-block">
            <div class="row">
                <div class="col-xs-12 col-lg-6 col-xl-3 pr-0">
                    <div class="cv-item pl-5 pr-3">
                        <div class="d-flex align-items-center mb-4">
                            <div class="cv-pic">
                                <img src="img/01-05.jpg" alt="">
                            </div>
                            <div class="cv-text">
                                <h6>BÁO GIÁ ONLINE</h6>
                                <p>
                                    Chính xác nhanh chóng, ổn định.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 col-xl-3 pl-0 pr-0">
                    <div class="cv-item pl-5 pr-3">
                        <div class="d-flex align-items-center mb-4">
                            <div class="cv-pic">
                                <img src="img/01-05.jpg" alt="">
                            </div>
                            <div class="cv-text">
                                <h6>QUY TRÌNH CHUYÊN NGHIỆP</h6>
                                <p>
                                    Quy trình bài bản, làm việc khoa học
                                    hiệu quả và tiết kiêm.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 col-xl-3 pl-0 pr-0">
                    <div class="cv-item pl-5 pr-3">
                        <div class="d-flex align-items-center mb-4">
                            <div class="cv-pic">
                                <img src="img/01-05.jpg" alt="">
                            </div>
                            <div class="cv-text">
                                <h6>SẢN PHẨM CHẤT LƯỢNG</h6>
                                <p>
                                    Chất liệu sản xuất được kiểm duyệt
                                    rất kỹ càng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 col-xl-3 pl-0">
                    <div class="cv-item pl-5 pr-3 border-right-0">
                        <div class="d-flex align-items-center mb-4">
                            <div class="cv-pic">
                                <img src="img/01-05.jpg" alt="">
                            </div>
                            <div class="cv-text">
                                <h6>AN TÂM ĐẶT HÀNG</h6>
                                <p>
                                    Với 7 ngày đổi trả.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products mt-5">
            <div class="row text-center">
                <h4 class="w-100 text-center mb-2">Sản Phẩm Thông Thường</h4>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>NHÃN NHỰA</h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                NHÃN TRONG
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>NHÃN GIẤY</h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>NHÃN KRAFT</h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="products mt-5">
            <div class="row text-center">
                <h4 class="w-100 text-center mb-2">Sản Phẩm Đặt Biệt</h4>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                XI VÀNG
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                XI BẠC
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>NHỰA ĐẶC BIỆT</h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                TEM BỂ
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products mt-5">
            <div class="row text-center">
                <h4 class="w-100 text-center mb-2">Sản Phẩm Đặt Biệt</h4>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                NHÃN GHI THÔNG TIN
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                NHÃN 2 LỚP
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>NHÃN GIẤY (TAG TREO)</h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3">
                    <div class="p-item">
                        <div class="p-img">
                            <img class="mb-3" src="~/img/stickers/Temnhan.jpg" alt="" style="width: 100%; height: 270px">
                        </div>
                        <div class="inner-text text-center mb-2">
                            <h5>
                                NHÃN 2 MẶT (MỰC UV 3 LỚP)
                            </h5>
                            <p>
                                Độ bền cao - Không thấm nước
                            </p>
                        </div>
                        <div class="inner-btn">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-6 mb-3 pr-1">
                                    <a class="btn primary-btn order-btn">ĐẶT HÀNG</a>
                                </div>
                                <div class="col-sm-6 mb-3 pl-1">
                                    <a href="/ProductDetail" class="btn white-btn sample-btn">Chọn mẫu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
</script>
