# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# .Net Compiled class files
.vs/
bin/
obj/
Admin/src/api/api.ts
Web/TheGioiSticker/TheGioiSticker.API/.vs/
Web/TheGioiSticker/TheGioiSticker.API/wwwroot/upload/
Web/TheGioiSticker/.vs/
