<div class="row mb-2" style="background-color: #ECECEC; padding: 1rem 2rem">
    <div class="quality-items">
        <div class="ql-item">
            <h5>Cam kết chất lượng cao</h5>
            <div class="d-flex align-items-center mb-2">
                <div class="ql-pic">
                    <img src="img/01-05.jpg" alt="">
                </div>
                <div class="ql-text">
                    <h6>Chúng tôi sử dụng nguyên vật liệu sản xuất tốt nhất.</h6>
                </div>
            </div>
        </div>
        <div class="ql-item">
            <h5>Thiết kế miễn phí</h5>
            <div class="d-flex align-items-center mb-2">
                <div class="ql-pic">
                    <img src="img/01-05.jpg" alt="">
                </div>
                <div class="ql-text">
                    <h6>Hỗ trở thiết kế sticker miễn phí.</h6>
                </div>
            </div>
        </div>
        <div class="ql-item">
            <h5>Giao hàng nhanh tuyệt vời</h5>
            <div class="d-flex align-items-center">
                <div class="ql-pic">
                    <img src="img/01-05.jpg" alt="">
                </div>
                <div class="ql-text">
                    <h6>Chính sách giao hàng tuyệt vời - Tất cả vì khách hàng.</h6>
                </div>
            </div>
        </div>
    </div>
</div>