<section class="order-success spad">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-9 order-1">
                <div class="w-100">
                    <div class="os-message d-flex align-items-center justify-content-center mb-4">
                        <h3>ĐẶT HÀNG THÀNH CÔNG</h3>
                    </div>
                    <div class="os-thank-message">
                        <p>
                            Cám ơn <strong>Anh Tuyển</strong> đã cho Thế Giới Sticker cơ hội được phục vụ. Trong 15 phút, nhân viên Thế Giới Sticker sẽ
                            <strong>gọi điện hoặc gửi tin nhắn xác nhận đặt hàng</strong> cho anh.
                        </p>
                    </div>
                    <div class="os-code">
                        <h5>ĐƠN HÀNG #41590722</h5>
                        <p><strong>* Người nhận hàng:</strong> Anh Tuyển - 0909.381.586</p>
                        <p><strong>* Giao đến:</strong> 118/15 Bàu Cát 2, Phường 12, Quận Tân Bình, Hồ Chí Minh (nhân viên sẽ gọi xác nhận đơn hàng</p>
                        <p><strong>* Tổng tiền:</strong> <span>2.500.000đ</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-2">
                <div class="os-manager-btn mb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center text-center">QUẢN LÝ ĐƠN HÀNG</a>
                </div>
                <div class="os-payment-method">
                    <h4 class="text-center mb-3">CHỌN HÌNH THỨC THANH TOÁN</h4>
                    <div class="pm-btn">
                        <a href="#" class="d-flex align-items-center justify-content-center text-center">
                            Đặt cọc và thanh toán 50% <br/>
                            còn lại khi nhận hàng
                        </a>
                        <a href="#" class="d-flex align-items-center justify-content-center text-center">
                            Thông tin thanh toán online
                        </a>
                        <a href="#" class="d-flex align-items-center justify-content-center text-center">
                            Thanh toán tại văn phòng công ty
                        </a>
                        <a href="#" class="d-flex align-items-center justify-content-center text-center">
                            Làm hợp đồng
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="order-info">
                    <h3 class="mb-2">THÔNG TIN ĐƠN HÀNG</h3>
                    <div class="oi-items">
                        <h5>Giao trước 14g00 - 08/03/2021</h5>
                        <div class="oi-item">
                            <div class="d-flex justify-content-between mb-4 mt-3">
                                <div>
                                    <div class="item-pic">
                                        <img src="img/stickers/products/decal/decalkraft_1.jpg" alt="">
                                    </div>
                                    <div class="item-text d-flex flex-column justify-content-between">
                                        <p>
                                            Decal Kraft 2x3cm-cán bóng, bế đặc biệt
                                        </p>
                                        <div>
                                            <p>Số lượng: 1.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price d-flex align-items-end">
                                    <p>1.250.000đ</p>
                                </div>
                            </div>
                        </div>
                        <div class="oi-item">
                            <div class="d-flex justify-content-between mb-4 mt-3">
                                <div>
                                    <div class="item-pic">
                                        <img src="img/stickers/products/decal/decalbe_1.jpg" alt="">
                                    </div>
                                    <div class="item-text d-flex flex-column justify-content-between">
                                        <p>
                                            Decal Bế 3x4cm-cán bóng, bế đặc biệt
                                        </p>
                                        <div>
                                            <p>Số lượng: 1.000</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price d-flex align-items-end">
                                    <p>1.250.000đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>