<section class="spad">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="blog-details-inner">
                    <section class="main-news">
                        <ul>
                            <li><p><a href="#">- Tính khối lượng</a></p></li>
                            <li><p><a href="#">- Tính khối lượng</a></p></li>
                        </ul>
                    </section>

                    <hr />
                    <h5 class="other-news-title"><u>Các tin khác</u></h5>
                    <section class="other-news mt-2">
                        <ul>
                            <li><p><a href="#">- Tính khối lượng</a></p></li>
                            <li><p><a href="#">- Tính khối lượng</a></p></li>
                        </ul>
                    </section>

                </section>

            </div>
            <div class="col-lg-4 order-2">
                <!-- Info Sidebar Section Begin -->
                @(await Component.InvokeAsync("InfoSidebar"))
                <!-- Info Sidebar Section End -->

            </div>
        </div>
    </div>

</section>
