<footer class="footer-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-12 col-lg-5 col-xl-4">
                <div class="w-100 contact">
                    <div class="order-help">
                        <h5>TƯ VẤN ĐẶT HÀNG</h5>
                        <div class="d-flex justify-content-between hot-line">
                            <div class="phone"><p>0909.371.586</p></div>
                            <div class="email">
                                <p>info@thegioiinan.today</p>
                                <p>thietkecongtypdca@gmail.com</p>
                            </div>
                            <div>
                                <p>Góp ý về dịch vụ</p>
                                <p>0909.371.586</p>
                            </div>
                        </div>
                    </div>
                    <div class="employee-zalo">
                        <div class="zalo-item">
                            <div class="d-flex mb-2">
                                <div class="zalo-icon">
                                    <img src="img/zalo-icon.png" alt="">
                                </div>
                                <div class="zalo-info">
                                    <p>NVKD Văn Hoàng</p>
                                    <p>0909.371.586</p>
                                </div>
                            </div>
                        </div>
                        <div class="zalo-item">
                            <div class="d-flex mb-2">
                                <div class="zalo-icon">
                                    <img src="img/zalo-icon.png" alt="">
                                </div>
                                <div class="zalo-info">
                                    <p>NVKD Văn Hoàng</p>
                                    <p>0909.371.586</p>
                                </div>
                            </div>
                        </div>
                        <div class="zalo-item">
                            <div class="d-flex mb-2">
                                <div class="zalo-icon">
                                    <img src="img/zalo-icon.png" alt="">
                                </div>
                                <div class="zalo-info">
                                    <p>NVKD Văn Hoàng</p>
                                    <p>0909.371.586</p>
                                </div>
                            </div>
                        </div>
                        <div class="zalo-item">
                            <div class="d-flex mb-2">
                                <div class="zalo-icon">
                                    <img src="img/zalo-icon.png" alt="">
                                </div>
                                <div class="zalo-info">
                                    <p>NVKD Văn Hoàng</p>
                                    <p>0909.371.586</p>
                                </div>
                            </div>
                        </div>
                        <div class="zalo-item">
                            <div class="d-flex mb-2">
                                <div class="zalo-icon">
                                    <img src="img/zalo-icon.png" alt="">
                                </div>
                                <div class="zalo-info">
                                    <p>NVKD Văn Hoàng</p>
                                    <p>0909.371.586</p>
                                </div>
                            </div>
                        </div>
                        <div class="zalo-item">
                            <div class="d-flex mb-2">
                                <div class="zalo-icon">
                                    <img src="img/zalo-icon.png" alt="">
                                </div>
                                <div class="zalo-info">
                                    <p>NVKD Văn Hoàng</p>
                                    <p>0909.371.586</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="license mb-5">
                        <p>CÔNG TY TNHH THƯƠNG MẠI QUẢNG CÁO PDCA</p>
                        <p>GPKD số 0312510084 do Sở KH và ĐT TP.Hồ Chí Minh cấp ngày 20/07/2017.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="widget">
                    <ul>
                        <li class="mb-4">
                            <h5>Địa chỉ</h5>
                            <p>118/15 Bàu Cát 2, P12, Q.Tân Bình, TP.HCM.</p>
                        </li>
                        <li class="mb-4">
                            <h5>Thời gian hoạt động</h5>
                            <p>8h - 17h30 ( Từ thứ 2- thứ 7)</p>
                        </li>
                        <li class="mb-4">
                            <h5>Website Đặt Hàng Standee</h5>
                            <p>Congtystandee.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3">
                <div class="widget">
                    <ul>
                        <li class="mb-3">
                            <h5>HƯỚNG DẪN</h5>
                            <p>Hướng dẫn đặt hàng online</p>
                            <p>Giao hàng và vận chuyển</p>
                            <p>Hình thức thanh toán</p>
                        </li>
                        <li class="mb-3">
                            <h5>CHÍNH SÁCH</h5>
                            <p>Chính sách bảo hành</p>
                            <p>Thỏa thuận sử dụng</p>
                            <p>Chính sách đổi trả hàng</p>
                            <p>Chính sách bảo mật</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-12">
                <div class="newslatter-item pl-xl-4 mb-3">
                    <h5 class="mb-0">ĐĂNG KÍ NHẬN TIN</h5>
                    <p class="mb-3">
                        Để không bỏ lỡ bất kí tin tức,
                        khuyến mãi quan trọng nào
                    </p>
                    <form action="#" class="subscribe-form">
                        <input type="text">
                        <button type="button">Gửi</button>
                    </form>
                </div>
                <div class="social-media pl-xl-4">
                    <h5>Kênh Online</h5>
                    <p>Thế Giới Tem Nhãn Sticker</p>
                    <div class="w-100">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-youtube-play"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                    <div class="w-100">
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>