<main>
    <section class="online-library spad">
        <div class="container">
            <div class="row mb-5">
                <h4 class="col-lg-12 category-title mb-2">
                    Thư viện online
                </h4>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center active">Hình tròn</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình oval</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình vuông</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình vuông bo góc</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình hoa</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình chữ nhật</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình chữ nhật bo góc</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình lục giác</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình trái tim</p>
                </div>
                <div class="col col-md-4 col-sm-6 col-lg-category">
                    <p class="category-item text-center">Hình khác</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-001.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV01</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-002.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV02</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-003.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV03</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-004.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV04</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-005.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV05</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-006.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV06</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-007.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV07</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-008.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV08</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-009.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV09</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-010.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV10</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-011.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV11</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="sticker-img mb-3">
                        <img src="img/stickers/products/TGSK-TRON-012.jpg" alt="">
                    </div>
                    <div class="sticker-img-code w-100">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a class="code-text">Mã: HV12</a>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <a href="/ProductDetail" class="white-btn sample-link">Chọn mẫu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function (e) {
        $('.online-library .category-item').on('click', function () {
            $('.online-library .category-item').removeClass('active');

            $(this).addClass('active');
        })
    })
</script>
