<div class="row" style="background-color: #ECECEC; padding: 1rem 2rem">
    <div class="customer-care-items">
        <div class="cc-title">
            <h5>LIÊN HỆ NHÂN VIÊN CSKH</h5>
        </div>
        <div class="cc-item">
            <div class="d-flex align-items-center mb-2">
                <div class="cc-pic">
                    <img src="img/01-05.jpg" alt="">
                </div>
                <div class="cc-text">
                    <h6>Ms Thu Phương</h6>
                    <p>Zalo: 0909 532 512</p>
                    <p>info@thegioiinan.today</p>
                </div>
            </div>
        </div>
        <div class="cc-item">
            <div class="d-flex align-items-center mb-2">
                <div class="cc-pic">
                    <img src="img/01-05.jpg" alt="">
                </div>
                <div class="cc-text">
                    <h6>Ms Thu Phương</h6>
                    <p>Zalo: 0909 532 512</p>
                    <p>info@thegioiinan.today</p>
                </div>
            </div>
        </div>
        <div class="cc-item">
            <div class="d-flex align-items-center mb-2">
                <div class="cc-pic">
                    <img src="img/01-05.jpg" alt="">
                </div>
                <div class="cc-text">
                    <h6>Ms Thu Phương</h6>
                    <p>Zalo: 0909 532 512</p>
                    <p>info@thegioiinan.today</p>
                </div>
            </div>
        </div>
        <div class="cc-working-time">
            <h5>Thời gian làm việc</h5>
            <p>Sáng: 8g00 - 12g00</p>
            <p>Chiều: 13g30 - 18g00</p>
            <p>Từ Thứ Hai đến Thứ Bảy, nghỉ Chủ Nhật</p>
        </div>
    </div>
</div>