<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Liên Lạc Với Chúng Tôi</h4>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>Địa chỉ:</span>
                            <p>118/15 Bàu Cát 2, P.12, Q.Tân Bình, Tp.HCM</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>Số điện thoại:</span>
                            <p>+84909.371.586</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>thietkecongtypdca@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>Gửi Tin Nhắn</h4>
                        <form action="#" class="comment-form">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Tên">
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Số điện thoại">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Tin nhắn"></textarea>
                                    <button type="submit" class="btn blue-btn leave-comment-btn">GỞI TIN NHẮN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->