<section class="search-order spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="so-background confirm-code">
                    <div class="mb-4">
                        <div class="cc-text mb-3">
                            <h4>Mã xác nhận đã được gửi đến</h4>
                            <h4>số điện thoại <strong>0909.371.586</strong></h4>
                        </div>
                        <form class="cc-form mb-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon_lock_alt"></i></span>
                                </div>
                                <input autocomplete="off" type="text" class="form-control form-control-lg" placeholder="Nhập mã xác nhận gồm 4 chữ số" 
                                       required="required" 
                                       data-error="Vui lòng nhập mã xác nhận.">
                            </div>
                            <button class="btn cc-continue-btn">TIẾP TỤC</button>
                        </form>
                        <div class="cc-resend text-center mb-2">
                            <span>Nếu không nhận được mã, thử lại sau 27 giây</span>
                        </div>
                        <div class="cc-phone-replace text-center">
                            <a href="#">Thay đổi số điện thoại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
